html {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

header {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1rem;
}

#img-div {
  background-color: rgb(238, 224, 197);
  padding: 1rem;
  margin: 1rem;
  width: 70rem;
}

img{
margin: auto;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tribute-info {
  width: 60rem;
  text-align: left;
  align-self: center;
}

li {
  margin: 1rem 0;
}

footer {
    font-weight: bold;
    font-size: 2rem;
}
